## Hello, world! 출력
print 함수로 Hello, world! 를 출력합니다.

In [1]:
print('Hello, world!')

Hello, world!

In []: 이 In [1]: 로 바뀌었는데, 1은 첫 번째로 실행된 코드라는 뜻임. 노트북에서는 코드 입력 셀이 추가될 수록 숫자가 증가함. 아래에 있는 셀 계속 실행하니까 숫자 계속 증가함.

In [13]:
str = 'www.naver.com'
a, b, c = str.split('.')
print(b)

naver

## 리스트 생성하기
range를 사용하여 숫자로 된 리스트를 생성해보자.

In [42]:
a = []
a

[]

a = list() 로 위의 셸과 동일하게 리스트를 생성할 수 있는데,
'list object is not callable'이라는 오류가 뜬다. 아직 해결 못 함.

In [27]:
b = []
b.append(1)
b.append(2)
b

[1, 2]

In [28]:
c = 'Hi I am olaf and I like warm hug'.split()
c
c[3]

'olaf'

In [29]:
c[1:4]

['I', 'am', 'olaf']

In [33]:
c[5:-1]

['I', 'like', 'warm']

In [35]:
c[1:]

['I', 'am', 'olaf', 'and', 'I', 'like', 'warm', 'hug']

In [36]:
c[:8]

['Hi', 'I', 'am', 'olaf', 'and', 'I', 'like', 'warm']

In [37]:
copy_c = c[:]
copy_c

['Hi', 'I', 'am', 'olaf', 'and', 'I', 'like', 'warm', 'hug']

In [39]:
copy_c2 = c.copy()
copy_c2

['Hi', 'I', 'am', 'olaf', 'and', 'I', 'like', 'warm', 'hug']

In [40]:
c.sort()
c

['Hi', 'I', 'I', 'am', 'and', 'hug', 'like', 'olaf', 'warm']

In [41]:
c.append('yeah')
c

['Hi', 'I', 'I', 'am', 'and', 'hug', 'like', 'olaf', 'warm', 'yeah']

In [52]:
a1, a2 =[1,2,3], [2,3,4]
a2

[2, 3, 4]

## 튜플이란?
튜플(tuple)은 몇 가지 점을 제외하곤 리스트와 거의 비슷하며 리스트와 다른 점은 다음과 같다.

1. 리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.
2. 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

아 그리고 튜플에 값이 하나일때 맨뒤에 ',

In [44]:
t1 = ()
t1

()

In [47]:
t2 = (1,)
t2

(1,)

In [46]:
t3 = (1,2,3)
t3

(1, 2, 3)