## Hello, world! 출력
print 함수로 Hello, world! 를 출력합니다.

In [1]:
print('Hello, world!')

Hello, world!

In []: 이 In [1]: 로 바뀌었는데, 1은 첫 번째로 실행된 코드라는 뜻임. 노트북에서는 코드 입력 셀이 추가될 수록 숫자가 증가함. 아래에 있는 셀 계속 실행하니까 숫자 계속 증가함.

In [13]:
str = 'www.naver.com'
a, b, c = str.split('.')
print(b)

naver

## 리스트 생성하기
range를 사용하여 숫자로 된 리스트를 생성해보자.

In [42]:
a = []
a

[]

a = list() 로 위의 셸과 동일하게 리스트를 생성할 수 있는데,
'list object is not callable'이라는 오류가 뜬다. 아직 해결 못 함.

In [27]:
b = []
b.append(1)
b.append(2)
b

[1, 2]

In [28]:
c = 'Hi I am olaf and I like warm hug'.split()
c
c[3]

'olaf'

In [29]:
c[1:4]

['I', 'am', 'olaf']

In [33]:
c[5:-1]

['I', 'like', 'warm']

In [35]:
c[1:]

['I', 'am', 'olaf', 'and', 'I', 'like', 'warm', 'hug']

In [36]:
c[:8]

['Hi', 'I', 'am', 'olaf', 'and', 'I', 'like', 'warm']

In [37]:
copy_c = c[:]
copy_c

['Hi', 'I', 'am', 'olaf', 'and', 'I', 'like', 'warm', 'hug']

In [39]:
copy_c2 = c.copy()
copy_c2

['Hi', 'I', 'am', 'olaf', 'and', 'I', 'like', 'warm', 'hug']

In [40]:
c.sort()
c

['Hi', 'I', 'I', 'am', 'and', 'hug', 'like', 'olaf', 'warm']

In [41]:
c.append('yeah')
c

['Hi', 'I', 'I', 'am', 'and', 'hug', 'like', 'olaf', 'warm', 'yeah']

In [52]:
a1, a2 =[1,2,3], [2,3,4]
a2

[2, 3, 4]

## 튜플이란?
튜플(tuple)은 몇 가지 점을 제외하곤 리스트와 거의 비슷하며 리스트와 다른 점은 다음과 같다.

1. 리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.
2. 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

아 그리고 튜플에 값이 하나일때 맨뒤에 ',' 꼭 붙여줘야한다.

In [44]:
t1 = ()
t1

()

In [47]:
t2 = (1,)
t2

(1,)

In [46]:
t3 = (1,2,3)
t3

(1, 2, 3)

## enumerate 함수
* 리스트가 있는 경우, 순서와 리스트 값을 전달하는 기능
* enumerate : 열거하다
* 이 함수는 순서가 있는 자료형(리스트, 튜플, 문자열)을 입력받아서 인덱스 값을 포함하는 enumerate 객체를 리턴한다.
* 보통 for문과 함께 자주 사용된다.

In [1]:
for i, name in enumerate(['apple', 'banana', 'carrot']):
    print(i, name)

0 apple
1 banana
2 carrot

In [2]:
names = ['Amy', 'Bill', 'Cindy']
for i, name in enumerate(names):
    print('{}번: {}'.format(i+1, name))

1번: Amy
2번: Bill
3번: Cindy

## print 함수와 format 함수

In [4]:
a = 1
b = 2
c = 3
print(' a  = {}, b = {}, c = {}'.format(a,b,c))

 a  = 1, b = 2, c = 3

In [5]:
print('a = {0}, b = {1}, c = {2}'.format(a,b,c))

a = 1, b = 2, c = 3

In [6]:
print('a = {0}, b = {0}, c = {0}'.format(a,b,c))
# format 뒤에있는 값들의 index를 넣으면 그 값이 print 된다.

a = 1, b = 1, c = 1

In [7]:
print('a = {2}, b = {1}, c = {0}'.format(a,b,c))
# format 뒤에있는 값들의 index를 넣으면 그 값이 print 된다.

a = 3, b = 2, c = 1

In [8]:
print('a = [{}], b = [{}], c = [{}]'.format(a,b,c))

a = [1], b = [2], c = [3]

In [9]:
print('a = ({}), b = [{}], c = [{}]'.format(a,b,c))
# {} 자리에 출력되는 거니까, 괄호 바꾸는 거 가능
# c언어에서 %연산자 사용하는 것과 비슷한다고 생각하면 됨

a = (1), b = [2], c = [3]

In [10]:
print('a = [{0:5d}], b = [{1:10d}], c = [{2:20d}]'.format(a,b,c))
#c랑 비슷하네 (index):(몇자리차지)(형태 ex>정수형은 d)

a = [    1], b = [         2], c = [                   3]

In [12]:
print('a = [{0:<5d}], b = [{1:>10d}], c = [{2:^20d}]'.format(a,b,c))
# ':'뒤에 < 붙이면 좌측 정렬, > 는 우측정렬(우측은 필요없긴함), ^는 가운데 정렬

a = [1    ], b = [         2], c = [         3          ]

In [15]:
a = 'apple'
b = 'banana'
a,b

('apple', 'banana')

In [16]:
print('a = {}, b = {}'.format(a,b))

a = apple, b = banana

In [17]:
print('a = {1}, b = {0}'.format(a,b))

a = banana, b = apple

In [21]:
print('a = [{0:10s}], b = [{1:20s}]'.format(a,b))

a = [apple     ], b = [banana              ]

In [22]:
print('a = [{0:<10s}], b = [{1:^20s}]'.format(a,b))

a = [apple     ], b = [       banana       ]

In [26]:
a = 314.15
b = 5.1876
print('a = {}, b = {}'.format(a,b))

a = 314.15, b = 5.1876

In [27]:
print('a = {1}, b = {0}'.format(a,b))

a = 5.1876, b = 314.15

In [28]:
print('a = {0:f}, b = {1:f}'.format(a,b))

a = 314.150000, b = 5.187600

In [30]:
print('a = [{0:10f}], b = [{1:20f}]'.format(a,b))

a = [314.150000], b = [            5.187600]

In [31]:
print('a = [{0:<10f}], b = [{1:^20f}]'.format(a,b))

a = [314.150000], b = [      5.187600      ]

In [32]:
print('a = [{0:10.2f}], b = [{1:5.1f}]'.format(a,b))
# index : (몇자리차지).(소수점뒤에몇자리)(형태 ex> 실수형 f)
# 이때 반올림 돼서 나타나진다.

a = [    314.15], b = [  5.2]

In [36]:
print('a = [{0:.10f}], b = [{1:.20f}]'.format(a,b))
# . 앞에 아무것도 안붙이면 숫자 길이는 안정해진거고, 그냥 . 뒤에 몇자리 올지로 숫자 길이 정해진다.
# 그리고 이때 정렬은 못함!

a = [314.1500000000], b = [5.18759999999999976694]